.about-me-card {
  color: #ffffff;
  padding: 3rem 2rem;
  display: flex;
  width: 60%;
  max-width: 1000px;

  .content-section {
    max-width: 800px;
    text-align: left;

    h2 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2;
      font-weight: bold;
      color: white;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: #cccccc;
    }

      .purple-text {
        color: #8a2be2;
      }
  }
}